<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
        <add key="IcdPackage" value="https://nuget.icdgroup.org:5556/v3/index.json" />
        <add key="IcdPackageV6" value="https://nuget.icdgroup.org:5561/v3/index.json"/>
    </packageSources>
</configuration>